		*{
			margin: 0px;
			padding :0px;
			font-family: sans-serif;
		}
		#slider{
			position: fixed;
			width: 205px;
			height: 100%;
			background: #151719;
			left: -200px;
		}
		#slider.active{
			left: 0px;

		}
		#slider ul li{
			color: white;
			list-style: none;
			padding: 15px 10px;
			border-bottom: 1px solid rgba(100,100,100,0,3);
		}
		#slider .toggle-btn{
			position: absolute;
			left: 230px;
			top: 20px;
		}
		#slider .toggle-btn span{
			display: block;
			width: 30px;
			height: 5px;
			background: #151719;
			margin : 5px 0px ;
		}